.font-logo {
    font-family: 'Quantum';
    src: url('../fonts/Quantum.otf');
}

.logotipo{
    display: none;
}

.logo-image-header{
    position: absolute;
    background-image: url(../imagenes/logo.svg);
    background-size: 60px;
    width: 60px;
    height: 60px;
    padding: 0px;
    left: -10%;
}

.title-page{
    position: relative;
    font-size: 0.7em;
    padding-top: 10%;
    margin: auto;
    left: 30px;
}


#design {
    background-image: url('../imagenes/design.png');
    background-repeat: no-repeat;
    margin: auto;
}

#logo-image {
    margin: auto;
    background-image: url('../imagenes/logo.svg');
    background-repeat: no-repeat;
}

#logo-image-desktop {
    margin: auto;
    background-image: url('../imagenes/logo.svg');
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}

#logo-header-container {
    text-align: center;
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    #design {
        -webkit-background-size: 800px;
        -moz-background-size: 800px;
        -o-background-size: 800px;
        background-size: 800px;
        width: 800px;
        height: 400px;
        margin-top: -15rem;
    }
    #logo-image-two {
        width: 300px !important;
        height: 300px !important;
        margin-top: 0;
        margin-left: -9% !important;
    }
    #text-logo-two {
        font-size: 70px !important;
        margin-top: 100px !important;
        margin-left: -35px !important;
    }
    #logo-header-container {
        margin: 20% auto;
    }
    #logo-text {
        font-size: 50px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
    #design {
        -webkit-background-size: 800px;
        -moz-background-size: 800px;
        -o-background-size: 800px;
        background-size: 800px;
        width: 800px;
        height: 400px;
        margin-top: -9rem;
    }
    #logo-image-two {
        width: 300px !important;
        height: 300px !important;
        margin-top: 5%;
        margin-left: 5% !important;
    }
    #text-logo-two {
        font-size: 70px !important;
        margin-top: 150px !important;
        margin-left: -35px !important;
    }
    #logo-header-container {
        margin: 20% auto;
    }
    #logo-text {
        font-size: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #design {
        background-color: red;
        -webkit-background-size: 800px;
        -moz-background-size: 800px;
        -o-background-size: 800px;
        background-size: 800px;
        width: 800px;
        height: 400px;
        margin-top: -9rem;
    }
    #logo-image-two {
        width: 200px !important;
        height: 200px !important;
        margin-top: 15%;
        margin-left: -2% !important;
    }
    #text-logo-two {
        font-size: 55px !important;
        margin-top: 170px !important;
        margin-left: -20px !important;
    }
    #logo-header-container {
        margin: 20% auto;
    }
    #logo-text {
        font-size: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #design {
        -webkit-background-size: 670px;
        -moz-background-size: 670px;
        -o-background-size: 670px;
        background-size: 670px;
        width: 670px;
        height: 310px;
        margin-top: -9rem;
    }
    #logo-image-two {
        width: 200px !important;
        height: 200px !important;
        margin-top: 15%;
        margin-left: -4% !important;
    }
    #text-logo-two {
        font-size: 55px !important;
        margin-top: 170px !important;
        margin-left: -20px !important;
    }
    #logo-header-container {
        margin: 10% auto;
    }
    #logo-text {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) and (min-width: 709px) {
    #design {
        -webkit-background-size: 600px;
        -moz-background-size: 600px;
        -o-background-size: 600px;
        background-size: 600px;
        width: 600px;
        height: 310px;
        margin-top: -9rem;
    }
    #logo-image {
        -webkit-background-size: 200px;
        -moz-background-size: 200px;
        -o-background-size: 200px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }
    #logo-header-container {
        margin: 10% auto;
    }
    #logo-text {
        font-size: 60px;
    }

    #power {
        display: none;
    }
}

@media screen and (max-width: 708px) and (min-width: 451px) {
    #design {
        -webkit-background-size: 400px;
        -moz-background-size: 400px;
        -o-background-size: 400px;
        background-size: 400px;
        width: 400px;
        height: 210px;
        margin-top: -9rem;
    }
    #logo-image {
        -webkit-background-size: 200px;
        -moz-background-size: 200px;
        -o-background-size: 200px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }
    #logo-header-container {
        margin: 10% auto;
    }
    #logo-text {
        font-size: 50px;
    }

    #power {
        display: none;
    }
}

@media screen and (min-width: 381px) and (max-width: 450px) {
    #design {
        -webkit-background-size: 350px;
        -moz-background-size: 320px;
        -o-background-size: 350px;
        background-size: 350px;
        width: 350px;
        height: 160px;
        margin-top: -9rem;
    }
    #logo-image {
        -webkit-background-size: 200px;
        -moz-background-size: 200px;
        -o-background-size: 200px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }
    #text_two {
        font-size: 40px !important;
    }
    span #text_two::before {
        content: '\A';
        white-space: pre;
    }
    #logo-text {
        font-size: 50px;
    }

    #power {
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 380px) {
    #design {
        -webkit-background-size: 320px;
        -moz-background-size: 320px;
        -o-background-size: 320px;
        background-size: 320px;
        width: 320px;
        height: 150px;
        margin-top: -9rem;
    }
    #logo-image {
        -webkit-background-size: 200px;
        -moz-background-size: 200px;
        -o-background-size: 200px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }
    #text_two {
        font-size: 40px !important;
    }
    span #text_two::before {
        content: '\A';
        white-space: pre;
    }
    #logo-text {
        font-size: 45px;
    }

    #power {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #design {
        -webkit-background-size: 290px;
        -moz-background-size: 290px;
        -o-background-size: 290px;
        background-size: 290px;
        width: 290px;
        height: 150px;
        margin-top: -8rem;
    }
    #logo-image {
        -webkit-background-size: 200px;
        -moz-background-size: 200px;
        -o-background-size: 200px;
        background-size: 200px;
        width: 200px;
        height: 200px;
    }
    #logo-text {
        font-size: 40px;
    }
    #text_two {
        font-size: 35px !important;
    }
    span #text_two::before {
        content: '\A';
        white-space: pre;
    }
    #logo-header-container {
        margin: 20% auto;
    }

    #power {
        display: none;
    }
}